* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, san-serif;
}

.nav-bar {
  display: flex;
  padding: 30px 25px;
  height: 90px;
  align-items: center;
  background-color: #23222a;
  color: white;
}

.nav-bar > h1 {
  margin-right: auto;
  margin-left: 10px;
  color: #00ccff;
}

.react-logo {
  width: 60px;
}
